# Pastas de dependências
node_modules/
dist/
build/

# Variáveis de ambiente (segredos - NUNCA commitar)
.env
.env.local
.env.development
.env.test
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# SO
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Prisma
backend/node_modules/.prisma/

# Cobertura de testes
coverage/
lcov.info

# IDEs
.vscode/settings.json
.idea/

# Cache
.turbo/
*.tsbuildinfo